html body {
    background-color: rgb(255, 255, 255);
    overflow-x: hidden;
}
.nav-tabs .nav-link {
    color: black !important;
}
.pushDown {
    padding-top: 90px;
}

.paddingSides {
    padding-right: 90px;
    padding-left: 90px;
}

.smallPushDown {
    padding-top: 45px;
}

.lineChart {
    padding-top: 20px;
}

.transactionMain {
    background-color: rgb(255, 255, 255);
    min-width: 300px;
    max-width: 800px;
    min-height: 100px;
    padding: 10px;
    border: 1px solid black;
    border-radius: 5px;

}

.transactionDropDownActive {
    background-color: rgb(212, 212, 212);
}

.transactionMain:hover {
    cursor: pointer;
    background-color: rgb(241, 241, 241);
}

.transactionContainer {
    padding: 0;
}
.transactionDropDown {
    min-width: 200px;
    max-width: 800px;
    padding-top: 2px;
    padding-bottom: 15px;
}
.arrowDown {
    text-align: center;
}
.tDropDown {
    padding-right: 50px;
    padding-left: 50px;
    padding-bottom: 10px;
    padding-top: 10px;
    border-right: 1px solid black;
    border-left: 1px solid black;
    border-bottom: 1px solid black;
    margin-right: 25px;
    margin-left: 25px;
}

.salesContainer {
    padding: 30px;
    border-style: solid;
    border-width: 2px;
    border-color: rgb(207, 207, 207);
    border-radius: 10px;
}

.salesArea {
    padding: 10px;
    border: 1px solid black;
}

.buttonContainer {
    padding: 5px;
}

.currentSalesContainer {
    padding: 5px;
    max-width: 300px;
    margin-left: auto;
    margin-right: auto;
}
.smallContainer {
    margin: 3px;
    text-align: center;
}

#liveSales {
    justify-content: space-evenly;
    text-align: center;
}
@import '~bootstrap/dist/css/bootstrap.css';